.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    
}

.fontStyle {
    font-family: "Great Vibes", "Brush Script MT", cursive;
    font-size: 25px;
}
  
.accountOptions {
    display: flex;
    gap: 20px;
}

.shopIcon {
    width: 35px;
}

.pageButton {
    color: inherit;
    text-decoration: none;
}

.linkVisited {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.shoppingCart {
    position: relative;
}

.cartQuantity {
    position: absolute;
    right: -10px;
    top: -9px;
    border: 1px black solid;
    border-radius: 50%;
    background-color: #ff0000;
    width: 20px;
    height: 20px;
    color: white;
    padding: 1px;
    font-weight: bold;
}

.cartQuantity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.heartIcon {
    cursor: pointer;
}

.heartIconAnimation {
    animation: 1s change-color ease-in;
}

@keyframes change-color {
    from {
        fill: black;
    }

    20% {
        fill: red;
    }

    80% {
        fill: red;
    }

    to {
        fill: black;
    }
}