
.shoppingItemsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    padding: 10px;
}
  
.itemCard {
    display: flex;
    flex-direction: column;
    border: 1px solid #e1dfdf;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


.imageWrapper {
    width: 100%;
    position: relative;
    padding-bottom: 75%; 
    overflow: hidden; 
    background-color: #f0f0f0;
}

.productImage {
    position: absolute; /* Position the image absolutely within the wrapper */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.itemDescriptionWrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 15px;
    background-color: #f9f9f9;
    border-top: 1px solid #eee;
}

.itemDescription {
    list-style-type: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.itemDescription li {
    margin-bottom: 8px;
    font-size: 0.95em;
    color: #444;
}

.itemDescription .itemTitle {
    font-weight: bold;
    font-size: 1.15em;
    margin-bottom: 12px;
    color: #222;
}

.itemDescription .itemPrice {
    font-style: italic;
    color: #007bff;
    margin-top: auto;
}